<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <title>MainStay</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/assets/css/bootstrap-select.min.css"/>
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css"/>
    <link rel="stylesheet" href=" https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"/>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600&display=swap"
          rel="stylesheet">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'
          type='text/css'>
    <link rel="stylesheet" href="../static/css/style.css">

    <script src="../static/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="../static/assets/js/popper.min.js"></script>
    <script src="../static/assets/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap.min.js"></script>

    <script type="text/javascript" src="https://apis.google.com/js/api.js"></script>
    <script src="../static/js/script.js"></script>


    <!--[if lt IE 9]>
    <script src="../static/assets/js/html5shiv.min.js"></script>
    <script src="../static/assets/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<header class="myContainer">
    <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand mr-auto" href="https://mainstay.xyz">
            <img src="../static/img/logo.svg" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>

        {% if session.credentials %}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ">
                    <li class="nav-item ">
                        <a class="nav-link colored" href="#"> Attest and verify </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://mainstay.xyz/" target="_blank">Explore</a>
                    </li>
                    <li class="nav-item revoke-mobile">
                          <a class="nav-link" href="{{ url_for('revoke') }}" class="button red-border">
                            Revoke Access
                        </a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </nav>
</header>

<section>

    {% block content %}

    {% endblock %}

</section>

<footer class="footer-block ">
    <div class="row ">
        <div class="col-md-6 left-side text-center">
            <div class="myContainer">
                <a class="navbar-brand mr-auto" href="https://mainstay.xyz">
                    <img src="../static/img/footer-logo.png" alt="logo">
                </a>
                <span>Mainstay-mvc v0.5.0-release © 2019 CommerceBlock Limited. All rights reserved.</span>
            </div>
        </div>
        <div class="col-md-6 right-side text-center">
            <ul class="myContainer">
                <li><a href="https://mainstay.xyz/about">About</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="https://github.com/commerceblock/mainstay-mvc/blob/develop/doc/mainstay_api.md">API Information</a></li>
                <li><a href="https://mainstay.xyz/privacy">Privacy Policy</a></li>
                <li><a href="https://mainstay.xyz/terms">Terms and Conditions</a></li>
            </ul>
        </div>
    </div>
</footer>

</body>
</html>
