<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MainStay files for Google Drive</title>

  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <h1> Google Drive Files Selection </h1>
    <p> Successfully logged in. List of files in app directory: </p>

    {{ gfiles }}

 <form method="POST">
   <label class="interactive_input" for="checksums">Input checksum(s), space separated:</label><input type="text" id="checksums" name="checksums"/>
   <input type="submit" name="post_checksums" value="Submit">
   {% if commitment != None %}
     <label class="interactive_input" for="commitment">commitment:</label> <span class="input_container"><input type="text" id="commitment" name="commitment" value={{ commitment }}></span>
   {% else %}
     <label class="interactive_input" for="commitment">commitment:</label> <span class="input_container"><input type="text" id="commitment" name="commitment"/</span>
   {% endif %}
   <label class="interactive_input" for="slot">slot:</label>             <span class="input_container"><input type="text" id="slot" name="slot"/></span>
   <label class="interactive_input" for="api_token">api token:</label>   <span class="input_container"><input type="text" id="api_token" name="api_token"/></span>
   <input type="submit" name="attest" value="Attest">
   {% if commitment != None %}
     <label class="interactive_input" for="checksums_verify">Input commitment to verify:</label><input type="text" id="checksums_verify" name="checksums_verify" value={{ commitment }}>
   {% else %}
     <label class="interactive_input" for="checksums_verify">Input commitment to verify:</label><input type="text" id="checksums_verify" name="checksums_verify"/></span>
   {% endif %}
   <input type="submit" name="verify" value="Verify">
 </form>
    {% endblock %}
  </body>
</html>
