{% extends "base.html" %}

{% block content %}

    <div class="myContainer login-page">
        <div class=" row">
            <div class="col-md-6 left">
                <h1>Attest and Verify Your Files, select your cloud storage</h1>
                <a href="{{ url_for('authorize') }}">
                    <div class="block">
                        <img src="../static/img/google-icon.svg" alt="google">
                        <div>
                            <span class="title">Google Drive</span>
                            <span class="desc">Sign in and authorize Mainstay access to Google Drive</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class=" col-md-6 right">
                <img src="../static/img/login-rightside.svg" alt="login-rightside">
            </div>
        </div>
    </div>

{% endblock %}