body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #1C1C1C;
}

.myContainer {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
}

a {
  font-size: 14px;
  color: #1C1C1C;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.navbar-collapse {
  flex-direction: row-reverse;
}
.navbar-collapse .nav-item.revoke-mobile {
  display: none;
}
.navbar-collapse .nav-link.colored {
  color: #3D9155;
  text-decoration: underline;
}

/*.dataTables_scrollHead {
  -webkit-box-shadow: 1px 19px 12px -5px #ffffffc4;
  box-shadow: 1px 19px 12px -5px #ffffffc4;
 z-index: 1;

}

.dataTables_scrollFoot {
  -webkit-box-shadow: 1px 31px 12px 0px #ffffffc4;
  box-shadow: 1px 31px 12px 0px #ffffffc4;
  z-index: 1;
  position: relative;
  bottom: 56px;
  border: none;
  .dataTables_scrollFootInner {
    border: none;
  }
}*/
.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: none;
}

section {
  margin-top: 50px;
  padding-bottom: 6%;
}
section .table, section table.dataTable {
  table-layout: fixed;
  box-sizing: border-box;
  border: none;
  color: #1C1C1C;
}
section .table #tab-verify .form input, section .table section table.dataTable .form input, section table.dataTable #tab-verify .form input, section table.dataTable section table.dataTable .form input {
  width: 300px;
}
section .table #tab-verify .form .inputs, section table.dataTable #tab-verify .form .inputs {
  justify-content: space-between;
}
section .table h1, section table.dataTable h1 {
  font-size: 22px;
  font-weight: 500;
}
section .table .title-bar, section table.dataTable .title-bar {
  display: flex;
  justify-content: space-between;
}
section .table .title-bar ul, section table.dataTable .title-bar ul {
  display: flex;
  list-style: none;
}
section .table .title-bar ul li, section table.dataTable .title-bar ul li {
  width: 200px;
  text-align: center;
}
section .table .title-bar ul li:focus, section table.dataTable .title-bar ul li:focus {
  outline: none;
}
section .table .title-bar ul li a, section table.dataTable .title-bar ul li a {
  font-size: 16px;
  color: #737373;
  font-weight: 500;
  text-decoration: none;
  outline: none;
}
section .table .title-bar ul li.ui-tabs-active, section table.dataTable .title-bar ul li.ui-tabs-active {
  color: #3D9155;
}
section .table .title-bar ul li.ui-tabs-active:after, section table.dataTable .title-bar ul li.ui-tabs-active:after {
  background: #3D9155;
}
section .table .title-bar ul li.ui-tabs-active svg, section table.dataTable .title-bar ul li.ui-tabs-active svg {
  color: #3D9155;
}
section .table .title-bar ul li.ui-tabs-active svg g path, section table.dataTable .title-bar ul li.ui-tabs-active svg g path {
  fill: #3D9155;
}
section .table .title-bar ul li.ui-tabs-active svg path, section table.dataTable .title-bar ul li.ui-tabs-active svg path {
  fill: #3D9155;
}
section .table .title-bar ul li:after, section table.dataTable .title-bar ul li:after {
  height: 2px;
  content: "";
  display: block;
  width: 100%;
  bottom: 0;
  margin-top: 10px;
  background: #DEDEDE;
}
section .table .title-bar ul li svg, section table.dataTable .title-bar ul li svg {
  position: relative;
  right: 10px;
}
section .table .title-bar .button, section table.dataTable .title-bar .button {
  font-size: 14px;
  cursor: pointer;
  color: #737373;
  border: 1px solid #737373;
  text-decoration: none;
  padding: 6px 15px;
  line-height: 15px;
  height: 30px;
  border-radius: 5px;
  margin-left: 10px;
}
section .table .title-bar .button svg, section table.dataTable .title-bar .button svg {
  margin-right: 10px;
}
section .table .title-bar .button.red-border:hover, section table.dataTable .title-bar .button.red-border:hover {
  border: 1px solid #C00015;
  background-color: #F6D9DC;
  color: #C00015;
}
section .table .title-bar .button.red-border:hover svg path, section table.dataTable .title-bar .button.red-border:hover svg path {
  fill: #C00015;
}
section .table .title-bar .button:first-child:hover, section table.dataTable .title-bar .button:first-child:hover {
  border: 1px solid #3D9155;
  background-color: #EAF9EE;
  color: #3D9155;
}
section .table thead, section table.dataTable thead {
  border: none;
  background-color: #F1F2F2;
}
section .table thead th, section table.dataTable thead th {
  border: none;
  color: #737373;
  font-weight: 400 !important;
  padding: 0.5rem !important;
  text-align: center;
  vertical-align: middle;
  width: 100px;
}
section .table thead th:first-child, section table.dataTable thead th:first-child {
  width: 30px;
  border-radius: 10px 0 0 10px;
}
section .table thead th:last-child, section table.dataTable thead th:last-child {
  border-radius: 0 10px 10px 0;
}
section .table tbody tr, section table.dataTable tbody tr {
  background: none;
  cursor: pointer;
}
section .table tbody tr:last-child, section table.dataTable tbody tr:last-child {
  border-bottom: 1px solid #737373;
}
section .table tbody tr:hover, section table.dataTable tbody tr:hover {
  background-color: #F1F2F2;
}
section .table tbody tr:first-child, section table.dataTable tbody tr:first-child {
  cursor: pointer;
}
section .table tbody tr:first-child:hover, section table.dataTable tbody tr:first-child:hover {
  background-color: #F1F2F2;
}
section .table tbody tr:first-child td, section table.dataTable tbody tr:first-child td {
  border-top: none;
}
section .table tbody tr.selected, section table.dataTable tbody tr.selected {
  background-color: #cdf0d7 !important;
  background-color: white;
}
section .table tbody tr.selected td, section table.dataTable tbody tr.selected td {
  border-bottom: 1px solid #3D9155;
}
section .table tbody td, section table.dataTable tbody td {
  text-align: center;
  padding: 0.5rem;
  vertical-align: middle;
  border: none;
  width: 100px;
  border-top: 1px solid #EBEBEB;
}
section .table tbody td img, section table.dataTable tbody td img {
  width: 26px;
}
section .table tbody td:first-child, section table.dataTable tbody td:first-child {
  width: 30px;
}
section .table tbody td:last-child, section table.dataTable tbody td:last-child {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
section .table tbody tr:nth-of-type(odd), section table.dataTable tbody tr:nth-of-type(odd) {
  background: none;
}
section .table .display tbody tr.odd, section .table .display tbody tr.even, section table.dataTable .display tbody tr.odd, section table.dataTable .display tbody tr.even {
  background-color: #ffffff;
}
section .table .display tbody tr.odd.selected, section .table .display tbody tr.even.selected, section table.dataTable .display tbody tr.odd.selected, section table.dataTable .display tbody tr.even.selected {
  background-color: #CDF0D7 !important;
}
section .table .display tbody tr.odd.selected > .sorting_1, section .table .display tbody tr.odd table.dataTable.order-column.stripe tbody tr.odd.selected, section .table .display tbody tr.odd tr.even.selected > .sorting_1, section .table .display tbody tr.even.selected > .sorting_1, section .table .display tbody tr.even table.dataTable.order-column.stripe tbody tr.odd.selected, section .table .display tbody tr.even tr.even.selected > .sorting_1, section table.dataTable .display tbody tr.odd.selected > .sorting_1, section table.dataTable .display tbody tr.odd table.dataTable.order-column.stripe tbody tr.odd.selected, section table.dataTable .display tbody tr.odd tr.even.selected > .sorting_1, section table.dataTable .display tbody tr.even.selected > .sorting_1, section table.dataTable .display tbody tr.even table.dataTable.order-column.stripe tbody tr.odd.selected, section table.dataTable .display tbody tr.even tr.even.selected > .sorting_1 {
  background-color: #CDF0D7 !important;
}
section .table .display tbody tr.odd:hover, section .table .display tbody tr.even:hover, section table.dataTable .display tbody tr.odd:hover, section table.dataTable .display tbody tr.even:hover {
  background-color: #F1F2F2;
}
section .table .display tbody tr.odd:hover .sorting_1, section .table .display tbody tr.odd:hover table.dataTable.order-column.stripe tbody tr.odd, section .table .display tbody tr.even:hover .sorting_1, section .table .display tbody tr.even:hover table.dataTable.order-column.stripe tbody tr.odd, section table.dataTable .display tbody tr.odd:hover .sorting_1, section table.dataTable .display tbody tr.odd:hover table.dataTable.order-column.stripe tbody tr.odd, section table.dataTable .display tbody tr.even:hover .sorting_1, section table.dataTable .display tbody tr.even:hover table.dataTable.order-column.stripe tbody tr.odd {
  background-color: #F1F2F2;
}
section .table .display tbody tr.odd > .sorting_1, section .table .display tbody table.dataTable.order-column.stripe tbody tr.odd,
section .table .display tbody tr.even > .sorting_1, section .table .display tbody table.dataTable.order-column.stripe tbody tr.even, section table.dataTable .display tbody tr.odd > .sorting_1, section table.dataTable .display tbody table.dataTable.order-column.stripe tbody tr.odd,
section table.dataTable .display tbody tr.even > .sorting_1, section table.dataTable .display tbody table.dataTable.order-column.stripe tbody tr.even {
  background-color: #ffffff;
}
section .table .dataTables_scroll .dataTables_scrollBody thead, section table.dataTable .dataTables_scroll .dataTables_scrollBody thead {
  display: none;
}
section .table .dataTables_scroll .dataTables_scrollHeadInner, section table.dataTable .dataTables_scroll .dataTables_scrollHeadInner {
  width: 100%;
}
section .table .row, section table.dataTable .row {
  width: 100%;
}
section .table .dataTables_scroll, section table.dataTable .dataTables_scroll {
  width: 100%;
}
section .table .dataTables_length label, section table.dataTable .dataTables_length label {
  justify-content: flex-start;
}
section .table .dataTables_length select, section table.dataTable .dataTables_length select {
  margin-left: 10px;
  font-size: 14px;
  border: 1px solid #3D9155;
  border-radius: 5px;
  height: 33px;
  width: 110px;
  color: #1C1C1C;
  text-align: center;
}
section .table .dataTables_length select:focus, section table.dataTable .dataTables_length select:focus {
  outline: none;
}
section .table .bottom, section table.dataTable .bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}
section .table .bottom .dataTables_filter, section table.dataTable .bottom .dataTables_filter {
  display: none;
}
section .table .bottom .dataTables_paginate .pagination, section table.dataTable .bottom .dataTables_paginate .pagination {
  justify-content: flex-end;
}
section .table .bottom .dataTables_paginate .pagination li, section table.dataTable .bottom .dataTables_paginate .pagination li {
  width: 32px;
  height: 30px;
  border: 1px solid #C9C9C9;
  text-align: center;
  line-height: 30px;
  margin-right: 5px;
  border-radius: 5px;
  padding: 0;
}
section .table .bottom .dataTables_paginate .pagination li.active, section table.dataTable .bottom .dataTables_paginate .pagination li.active {
  border: 1px solid #3D9155;
}
section .table .bottom .dataTables_paginate .pagination li:hover, section table.dataTable .bottom .dataTables_paginate .pagination li:hover {
  background-color: transparent;
  background: none;
}
section .table .bottom .dataTables_paginate .pagination li:focus, section table.dataTable .bottom .dataTables_paginate .pagination li:focus {
  outline: none;
}
section .table .bottom .dataTables_paginate .pagination li a:focus, section table.dataTable .bottom .dataTables_paginate .pagination li a:focus {
  outline: none;
}
section .table .dataTables_info, section table.dataTable .dataTables_info {
  display: none;
}
section .table .dataTables_filter label, section table.dataTable .dataTables_filter label {
  justify-content: flex-end;
}
section .table.dataTable, section table.dataTable.dataTable {
  border-collapse: collapse !important;
}
section .table.dataTable thead th, section table.dataTable.dataTable thead th {
  border: none;
}
section .table.dataTable thead td, section table.dataTable.dataTable thead td {
  border: none;
}
section .table.dataTable thead .sorting_asc:after, section table.dataTable.dataTable thead .sorting_asc:after {
  display: none;
}
section .table.dataTable thead .sorting:after, section table.dataTable.dataTable thead .sorting:after {
  display: none;
}
section .table .form, section table.dataTable .form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 0;
}
section .table .form form, section table.dataTable .form form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
section .table .form input, section table.dataTable .form input {
  color: #1C1C1C;
  font-size: 14px;
  border: 1px solid #A9A8A7;
  border-radius: 5px;
  padding-top: 20px;
  padding-left: 35px;
  width: 300px;
  height: 48px;
}
section .table .form input:focus, section table.dataTable .form input:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #3D9155;
}
section .table .form input.slotNumber, section table.dataTable .form input.slotNumber {
  background-image: url("../img/input-bg-slot.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 8px center;
}
section .table .form input.apikey, section table.dataTable .form input.apikey {
  background-image: url("../img/input-bg-api.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 8px center;
}
section .table .form input.readOnly, section table.dataTable .form input.readOnly {
  background-image: url("../img/commitement-icon.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 8px center;
}
section .table .form input.readOnly::-webkit-input-placeholder, section table.dataTable .form input.readOnly::-webkit-input-placeholder {
  /* WebKit browsers */
  position: relative;
  left: 20px;
}
section .table .form fieldset.form-group, section table.dataTable .form fieldset.form-group {
  position: relative;
}
section .table .form ::-webkit-input-placeholder, section table.dataTable .form ::-webkit-input-placeholder {
  direction: rtl;
}
section .table .form label, section table.dataTable .form label {
  position: absolute;
  top: 0.8rem;
  left: 2.4rem;
  transition: all 0.1s ease-in-out;
  cursor: text;
  color: #737373;
}
section .table .form label.hasValue, section table.dataTable .form label.hasValue {
  color: #1C1C1C;
  top: 9px;
  font-size: 10px;
}
section .table .form input:focus + label, section table.dataTable .form input:focus + label {
  color: #1C1C1C;
  top: 9px;
  font-size: 10px;
}
section .table .form p, section table.dataTable .form p {
  font-size: 22px;
  font-weight: 500;
  color: #1C1C1C;
}
section .table .form .inputs, section table.dataTable .form .inputs {
  display: flex;
  align-items: flex-end;
}
section .table .form .inputs input, section table.dataTable .form .inputs input {
  margin-right: 10px;
}
section .table .form .inputs input.readOnly, section table.dataTable .form .inputs input.readOnly {
  text-align: left;
  padding: 20px;
  background-color: #ffffff;
  font-size: 14px;
  padding-left: 30px;
}
section .table .form .inputs .form-group.error input, section table.dataTable .form .inputs .form-group.error input {
  border: 1px solid #C00015;
}
section .table .form .inputs .form-group.error label, section table.dataTable .form .inputs .form-group.error label {
  color: #C00015;
}
section .table .form .right-side, section table.dataTable .form .right-side {
  display: flex;
  align-items: baseline;
  position: relative;
  bottom: 8px;
}
section .table .form .right-side p, section table.dataTable .form .right-side p {
  font-size: 20px;
  color: #1C1C1C;
}
section .table .form .right-side .button, section table.dataTable .form .right-side .button {
  font-size: 20px;
  color: #ffffff;
  background-color: #3D9155;
  border-radius: 3px;
  padding: 10px 15px;
  margin-left: 15px;
  outline: none;
  border: none;
}
section .table .form .right-side .button:focus, section table.dataTable .form .right-side .button:focus {
  outline: none;
}
section .table tfoot td, section table.dataTable tfoot td {
  border: none;
}
section .attestation-result-page p {
  font-size: 22px;
}
section .attestation-result-page p a.link {
  font-size: 22px;
  font-weight: 500;
  color: #3D9155;
  text-decoration: underline;
}
section .attestation-result-page .data .card {
  padding: 20px 30px;
  height: 45vh;
  overflow: auto;
  border: none;
  -webkit-box-shadow: 0px 2px 5px #ccc;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 2px 5px #ccc;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 2px 5px #ccc;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
section .attestation-result-page .data .card.success .header {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  margin-bottom: 20px;
}
section .attestation-result-page .data .card.success .header a {
  color: #3D9155;
  padding: 5px 24px;
  font-size: 14px;
  background-color: #EAF9EE;
  border: 1px solid #3D9155;
  border-radius: 15px;
}
section .attestation-result-page .data .card.success table.attestation-results tr td {
  display: flex;
  border-bottom: 1px solid #EBEBEB;
  padding-top: 5px;
  padding-bottom: 5px;
}
section .attestation-result-page .data .card.success table.attestation-results tr td .title {
  font-size: 14px;
  text-align: right;
  font-weight: bold;
  width: 100px;
  color: #1C1C1C;
}
section .attestation-result-page .data .card.success table.attestation-results tr td .result {
  display: block;
  margin-left: 10px;
}
section .attestation-result-page .data .card.success table.attestation-results tr td .result a {
  font-size: 14px;
  color: #3D9155;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 95%;
}
section .attestation-result-page .data .card.error .header {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  margin-bottom: 20px;
}
section .attestation-result-page .data .card.error .header a {
  color: #C00015;
  padding: 5px 24px;
  font-size: 14px;
  background-color: #F6D9DC;
  border: 1px solid #C00015;
  border-radius: 15px;
}
section .attestation-result-page .data .card.error .header svg {
  position: relative;
  right: 8px;
}
section .attestation-result-page .data .card.error .header span {
  font-size: 20px;
}
section .attestation-result-page .data .card.error .sub {
  display: block;
  width: 300px;
  font-size: 14px;
  color: #1C1C1C;
}
section .attestation-result-page .data .card.error .blocks {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section .attestation-result-page .data .card.error .blocks div {
  padding: 10px;
}
section .attestation-result-page .data .card.error .blocks div img {
  margin: 3px;
}
section .attestation-result-page .data .card table#table-attestation-page tbody tr:last-child {
  border: none;
}
section .attestation-result-page .data .card .button {
  width: 235px;
  height: 48px;
  background-color: #3D9155;
  color: #Ffffff;
  font-size: 14px;
  text-align: center;
  line-height: 32px;
  border: none;
  margin: 25px auto;
}
section .login-page h1 {
  color: #1C1C1C;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
}
section .login-page .left .block {
  display: flex;
  -webkit-box-shadow: 0px 2px 5px #ccc;
  -moz-box-shadow: 0px 2px 5px #ccc;
  box-shadow: 0px 2px 5px #ccc;
  padding: 15px 25px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  cursor: pointer;
  margin-bottom: 15px;
}
section .login-page .left .block div {
  margin-left: 10px;
}
section .login-page .left .block div .title {
  display: block;
  font-size: 15px;
  font-weight: 500;
  color: #1C1C1C;
}
section .login-page .left .block div .desc {
  display: block;
  font-size: 15px;
  color: #737373;
}
section .login-page .left .block:hover {
  border: 1px solid #31C25A;
}
section .login-page .left .block:hover .title {
  color: #3CBA60;
}
section .login-page .right {
  /* display: flex;
   flex-wrap: wrap;
   background-color: #F1F2F2;
   padding: 80px 20px;*/
  /*.block {
    margin-bottom: 25px;
    .images {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      img {
        margin: 5px;
      }

    }
    .content {
      display: flex;
      .number {
        position: absolute;
        color: #3D9155;
        font-size: 25px;
        width: 52px;
        height: 52px;
        text-align: center;
        border: 1px solid #31C25A;
        background-color: #CFEDD7;
        border-radius: 50%;
        padding: 8px;
        line-height: 30px;
        left: 0;
      }
      div {
        padding-left: 60px;
      }

    }
  }*/
}
section .login-page .right img {
  width: 100%;
}

.footer-block {
  position: fixed;
  width: 100%;
  bottom: 0;
  color: #ffffff;
  font-size: 12px;
}
.footer-block img {
  margin-right: 10px;
}
.footer-block .left-side {
  background-color: #1C1C1C;
}
.footer-block .right-side {
  background-color: #2F2F2F;
}
.footer-block .right-side ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
}
.footer-block .right-side li {
  margin: 10px;
}
.footer-block .right-side li a {
  color: #Ffffff;
}
.footer-block .right-side li a:hover {
  color: #0056b3;
  text-decoration: none;
}

.modal .modal-body {
  margin-bottom: 10px;
}
.modal .modal-body form input {
  color: #1C1C1C;
  border: 1px solid #A9A8A7;
  width: 100%;
  height: calc(1.5em + .5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  margin-bottom: 10px;
}
.modal .modal-body form label {
  display: block;
  font-size: 14px;
  margin-top: 10px;
  font-weight: 500;
}
.modal .modal-footer button {
  background-color: #3D9155;
  border: none;
  color: #ffffff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media only screen and (max-width: 1024px) {
  section {
    padding-bottom: 25%;
  }
  section .table .title-bar, section table.dataTable .title-bar {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  section .table .title-bar ul, section table.dataTable .title-bar ul {
    justify-content: center;
    margin: 30px 0;
    padding-left: 0;
  }
  section .table .title-bar .button, section table.dataTable .title-bar .button {
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  section .table .form, section table.dataTable .form {
    display: block !important;
    text-align: center;
  }
  section .table .form form, section table.dataTable .form form {
    display: block;
  }
  section .table .form input, section table.dataTable .form input {
    width: 100%;
  }
  section .table .form .inputs, section table.dataTable .form .inputs {
    display: block;
  }
  section .table .form .right-side, section table.dataTable .form .right-side {
    justify-content: center;
    margin: 30px 0;
  }
  section .attestation-result-page .data .card {
    margin-bottom: 20px;
  }
  section .attestation-result-page .data .card.success, section .attestation-result-page .data .card.error {
    overflow-x: hidden;
  }
  section .attestation-result-page .data .card.success .header, section .attestation-result-page .data .card.error .header {
    display: block;
    text-align: center;
  }
  section .attestation-result-page .data .card.success .header a, section .attestation-result-page .data .card.error .header a {
    display: block;
  }
  section .attestation-result-page .data .card.success .sub, section .attestation-result-page .data .card.error .sub {
    text-align: center;
  }
  section .attestation-result-page .data .card.success .blocks .imgs, section .attestation-result-page .data .card.error .blocks .imgs {
    display: flex;
  }
  section .attestation-result-page .data .card.success .blocks span, section .attestation-result-page .data .card.error .blocks span {
    font-size: 12px;
  }
  section .attestation-result-page .data .card.success table.attestation-results tr td .result a, section .attestation-result-page .data .card.error table.attestation-results tr td .result a {
    width: 43%;
  }
  section .login-page .right {
    display: block;
    padding: 20px;
  }
  section .login-page .right .block {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .footer-block .right-side ul {
    display: block;
  }
}
@media only screen and (max-width: 991px) {
  .navbar-nav {
    margin-top: 30px;
    -webkit-box-shadow: 1px 10px 12px 0px #ccc;
    box-shadow: 1px 10px 12px 0px #ccc;
    padding: 20px;
  }
  .navbar-nav .nav-item.revoke-mobile {
    display: block;
  }

  section .table .title-bar .button.red-border, section table.dataTable .title-bar .button.red-border {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .footer-block {
    position: relative;
  }
}
@media only screen and (max-width: 575px) {
  section .table thead th, section table.dataTable thead th {
    font-size: 11px;
    padding: 5px;
    width: auto;
  }
  section .table tbody td, section table.dataTable tbody td {
    font-size: 11px;
    padding: 5px;
    width: auto;
  }
  section .table .form .inputs input, section table.dataTable .form .inputs input {
    margin-top: 10px;
  }
  section .table .form .inputs input:focus, section table.dataTable .form .inputs input:focus {
    outline: none;
  }
  section .table .form .inputs input:focus + label, section table.dataTable .form .inputs input:focus + label {
    top: 15px;
  }
  section .table .form .inputs label, section table.dataTable .form .inputs label {
    top: 1.4rem;
  }
  section .table .form .right-side, section table.dataTable .form .right-side {
    display: block;
  }
  section .table .bottom, section table.dataTable .bottom {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
